<footer class="footer">
    <div class="container">
      <section class="upper-footer">
        <div class="row">
          <div class="col-sm-12 col-md-6 upper-footer-righ-side">
            <div class="footer-ico">
              <img src="assets/assets/grey-book.svg" alt="book" />
              <span class="footer-brand-name">FOR EDUCATION</span>
            </div>
            <div class="footer-ico">
              <img src="assets/assets/pin-3.svg" alt="location" /><span>
                1600 Amphitheatre Parkway, CA 94043
              </span>
            </div>
            <div class="footer-ico">
              <img src="assets/assets/letter.svg" alt="email" />
              <span>vctung@outlook.com</span>
            </div>
            <div class="footer-ico">
              <img src="assets/assets/phone.svg" alt="phone" />
              <span>1-800-800-2299 (Support)</span>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 upper-footer-left-side">
            <div class="row">
              <div class="col-6 col-md-4">
                <h5 class="footer-section-head">Community</h5>
                <ul class="footer-list">
                  <li><a class="footer-link" href="#">Learners</a></li>
                  <li><a class="footer-link" href="#">Partner</a></li>
                  <li><a class="footer-link" href="#">Developer</a></li>
                  <li><a class="footer-link" href="#">Beta Testers</a></li>
                  <li><a class="footer-link" href="#">Translators</a></li>
                  <li><a class="footer-link" href="#">Blog</a></li>
                  <li><a class="footer-link" href="#">Tech Blog</a></li>
                  <li><a class="footer-link" href="#">Teaching Center</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-4">
                <h5 class="footer-section-head">Informations</h5>
                <ul class="footer-list">
                  <li>
                    <a class="footer-link" href="#">About</a>
                  </li>
                  <li><a class="footer-link" href="#">Pricing</a></li>
                  <li><a class="footer-link" href="#">Blog</a></li>
                  <li><a class="footer-link" href="#">Careers</a></li>
                  <li><a class="footer-link" href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-4">
                <h5 class="footer-section-head">More</h5>
                <ul class="footer-list">
                  <li><a class="footer-link" href="#">Press</a></li>
                  <li><a class="footer-link" href="#">Investors</a></li>
                  <li><a class="footer-link" href="#">Terms</a></li>
                  <li><a class="footer-link" href="#">Privacy</a></li>
                  <li><a class="footer-link" href="#">Help</a></li>
                  <li><a class="footer-link" href="#">Accessibility</a></li>
                  <li><a class="footer-link" href="#">Contact</a></li>
                  <li><a class="footer-link" href="#">Articles</a></li>
                  <li><a class="footer-link" href="#">Directory</a></li>
                  <li><a class="footer-link" href="#">Affiliates</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="lower-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 lower-footer-right-side">
              Copyright © 2021 Tung Chi Vo
            </div>
            <section class="col-md-4 col-lg-6 lower-footer-left-side">
              <span><img src="assets/assets/facebook.svg" alt="facebook" /></span>
              <span><img src="assets/assets/pintrest.svg" alt="pintrest" /></span>
              <span><img src="assets/assets/twitter.svg" alt="twitter" /></span>
              <span><img src="assets/assets/instgram.svg" alt="instgram" /></span>
            </section>
          </div>
        </div>
      </section>
    </div>
  </footer>