<!-- HEADER START -->
<header class="header">
    <div class="container">
        <div class="row">
            <address class="header-left-side col-sm-12 col-md-8 col-lg-6">
                <span><img src="assets/assets/location.svg" alt="location" class="header-icon" /><span> 1600
                        Amphitheatre Parkway, CA 94043 </span>
                </span>
                <span>
                    <img src="assets/assets/email.svg" alt="email" />
                    <span>vctung@outlook.com</span>
                </span>
            </address>
            <section class="header-right-side col-md-4 col-lg-6">
                <span><img src="assets/assets/facebook.svg" alt="facebook" /></span>
                <span><img src="assets/assets/pintrest.svg" alt="pintrest" /></span>
                <span><img src="assets/assets/twitter.svg" alt="twitter" /></span>
                <span><img src="assets/assets/instgram.svg" alt="instgram" /></span>
            </section>
        </div>
    </div>
</header>
<!-- HEADER END -->

<!-- START NAV -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#"><span><img src="assets\assets\Book.svg" alt="FOR EDUCATION LOGO" /></span>
            <span class="brand">FOR EDUCATION</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/' routerLinkActive='active'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/pricing' routerLinkActive='active'>Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/courses' routerLinkActive='active'>Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li>
                    <button class="btn btn-warning sign-up-button">Sign Up</button>
                    <button class="btn search-button btn-light">
                        <img src="assets/assets/search.svg" alt="search" />
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAV -->