.detail-main{
    background-color: #F0F4F9;
}
.detail-main .head{
    padding-top: 80px;
    padding-bottom: 230px;
}
.detail-main .head-h4{
    color: #FDC800;
    font-size: 20px;
}
.detail-main .head-h2{
    color: #002147;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}
.info{
    margin-top: -150px;
}
.info .img img{
    width: 99%;
    height: 100%;
}
.info span{
    font-weight: bold;
}
.info .imgs{
    height: 150px;
}
.description .desc-h{
    color: #002147;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.description ul li{
    margin-top: 1rem;
    list-style: none;
    list-style-image: url("/assets/assets/check-green.png");
    padding-left: 1em;
}
.description ul li span{
    color: #002147;
    font-weight: bold;
}

.feedback{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F0F4F9;
}