 <!-- start about section -->
 <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3 about-info">
          <img class="img-fluid" src="assets/assets/E-commerce.svg" alt="E-commerce" />
          <p>768</p>
          <small>COURSES PUBLISHED</small>
        </div>
        <div class="col-sm-12 col-md-3 about-info">
          <img class="img-fluid" src="assets/assets/Customize your experience.svg" alt="Customize your experience" />
          <p>120</p>
          <small>EXPERT INSTRUCTORS</small>
        </div>
        <div class="col-sm-12 col-md-3 about-info">
          <img class="img-fluid" src="assets/assets/Launch product.svg" alt="Launch product" />
          <p>8,300</p>
          <small>HAPPY LEARNERS</small>
        </div>
        <div class="col-sm-12 col-md-3 about-info winner">
          <img class="img-fluid" src="assets/assets/Winner.svg" alt="Winner" />
          <p>32</p>
          <small>AWARDS ACHIEVED</small>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->