/* start about section  */
.about {
    background-image: url("/assets/assets/map.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f0f4f9;
    padding: 80px 30px;
  }
  
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-info p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 4rem;
    color: #002147;
  }
  
  .about-info small {
    font-family: sans-serif;
    font-weight: bold;
    font-weight: 1rem;
    color: #00b2b2;
  }
  
  .winner {
    padding-top: 35px;
  }
  /* end about section */