<!-- start feedback section -->
<section class="feedback">
    <div class="container">
        <div class="card mb-3 feedback-card">
            <div class="row">
                <!-- start student feedback-left section -->
                <!-- <div class="col-12 col-lg-6 student-left-side">
            <div class="instgram-post">
              <img class="img-fluid" src="assets/assets/Instagram post.svg" alt="instgram-post" />
            </div>
            <img src="assets/assets/kimme.svg" class="img-fluid student-img" alt="kimme" />
            <div class="text-center student-name">
              <h5>Kimmie Vo</h5>
              <p class="text-muted">junior designer</p>
            </div>
          </div> -->
                <!-- end student feedback-left section -->

                <!-- start student feedback-right section -->
                <!-- <div class="col-12 col-lg-6 student-right-side">
            <div class="card-body">
              <h5 class="card-title feedback-title">
                Successful Student <span>Feedback</span>
              </h5>
              <p class="card-text">
                Take courses from the world’s best instructors and
                universities. Courses include recorded auto-graded and
                peer-reviewed assignments, video lectures, and community
                discussion forums. When you complete a course, you’ll be
                eligible to receive a shareable elecronic Course Certificate
                for a small fee.
              </p>
              <p class="student-course">The courses that Kimmie has taken</p> -->

                <!-- start course section -->
                <!-- <section>
                <div class="feedback-course">
                  <img src="assets/assets/UX_design_principles_jpg_-EtzLc2m.svg"
                    class="img-fluid rounded-start feedback-course-img" alt="UX design principles" width="80px"
                    height="80px" />
                  <div class="feedback-course-info">
                    <h6>Modern and Contemporary Art and Design</h6>
                    <small class="text-muted">The Museum of Modern Art
                    </small>
                  </div>
                </div>
              </section> -->
                <!-- end feedback course section -->
                <!-- </div>
          </div> -->
                <div class="col-12 col-lg-6">
                    <div class="instgram-post">
                        <img class="img-fluid" src="assets/assets/Instagram post.svg" alt="instgram-post" />
                    </div>
                    <img src="assets/assets/kimme.svg" class="img-fluid student-img" alt="kimme" />
                    <div class="text-center student-name">
                        <h5>Kimmie Vo</h5>
                        <p class="text-muted">junior designer</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card-body">
                        <h5 class="card-title feedback-title">
                            Successful Student <span>Feedback</span>
                        </h5>
                        <p class="card-text">
                            Take courses from the world’s best instructors and
                            universities. Courses include recorded auto-graded and
                            peer-reviewed assignments, video lectures, and community
                            discussion forums. When you complete a course, you’ll be
                            eligible to receive a shareable elecronic Course Certificate
                            for a small fee.
                        </p>
                        <p class="student-course">The courses that Kimmie has taken</p>
                        <section>
                            <div class="feedback-course">
                                <img src="assets/assets/UX_design_principles_jpg_-EtzLc2m.svg"
                                    class="img-fluid rounded-start feedback-course-img" alt="UX design principles"
                                    width="80px" height="80px" />
                                <div class="feedback-course-info">
                                    <h6>Modern and Contemporary Art and Design</h6>
                                    <small class="text-muted">The Museum of Modern Art
                                    </small>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end feedback section -->