<div class="pricing-main">
    <div class="container">
        <h4 class="head-h4">Our plans</h4>
        <h2 class="head-h2 mb-5">Get in Reasonable price</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3">
                    <div class="head-card1 text-center mb-4 badge text-wrap">
                        <p>STARTER</p>
                    </div>
                    <div class="card-price">
                        <span>$</span>
                        <span class="span-price">19.00</span>
                        <p class="text-muted">A private limited is the most popular</p>
                    </div>
                    <hr>
                    <div class="card-item mb-3">
                        <ul>
                            <li>Access to 25 courses</li>
                            <li>Course Discussions</li>
                            <li>Offline Viewing</li>
                            <li class="item1-1">Certificate after completion</li>
                            <li class="item1-2"> Private sessions</li>
                        </ul>
                    </div>
                    <button class="btn1">purchase now</button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3">
                    <div class="head-card2 text-center mb-4 badge text-wrap">
                        <p>STARTER</p>
                    </div>
                    <div class="card-price">
                        <span>$</span>
                        <span class="span-price">29.00</span>
                        <p class="text-muted">A private limited is the most popular</p>
                    </div>
                    <hr>
                    <div class="card-item mb-3">
                        <ul>
                            <li>Access to 25 courses</li>
                            <li>Course Discussions</li>
                            <li>Offline Viewing</li>
                            <li>Certificate after completion</li>
                            <li class="item2-1"> Private sessions</li>
                        </ul>
                    </div>
                    <button class="btn2">purchase now</button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3">
                    <div class="head-card3 text-center mb-4 badge text-wrap">
                        <p>STARTER</p>
                    </div>
                    <div class="card-price">
                        <span>$</span>
                        <span class="span-price">49.00</span>
                        <p class="text-muted">A private limited is the most popular</p>
                    </div>
                    <hr>
                    <div class="card-item mb-3">
                        
                        <ul>
                            <li>Access to 25 courses</li>
                            <li>Course Discussions</li>
                            <li>Offline Viewing</li>
                            <li>Certificate after completion</li>
                            <li> Private sessions</li>
                        </ul>
                    </div>
                    <button class="btn1">purchase now</button>
                </div>
            </div>
        </div>
    </div>
</div>