 <!-- start mailing subscription -->
 <section class="mailing">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-md-4 mailing-right-section">
          <img class="img-fluid" src="assets/assets/Recruiting.svg" alt="Recruiting" />
        </div>
        <div class="col-sm-4 col-md-8 col-lg-6 mailing-left-section">
          <p class="mailing-title">Subscribe now</p>
          <p class="mailing-info">Get every single update you will get</p>
          <div class="input-group mb-3 mailling-input">
            <input class="input" type="text" placeholder="Enter email address" aria-label="email address"
              aria-describedby="basic-addon2" />
            <button class="btn btn-warning">Subscribe now</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end mailing subscription -->