  <!-- START ANNOUNCEMENT-->
  <section class="announcement">
    <div class="upper-announcement"></div>
    <div class="container">
      <div class="row announcement-body">
        <div class="col-sm-12 col-lg-6 announcement-left-section">
          <img class="success-img img-fluid" src="/assets/assets/Success.svg" alt="success" />
          <span class="announcement-name">
            Upcoming Our
            <span class="course-name">Basic in Python</span> Course!
          </span>
        </div>
        <div class="col-sm-12 col-lg-6 text-center announcement-right-section">
          <div class="row time-section">
            <div class="col-2">
              <h3 class="timer">11</h3>
              <p>Days</p>
            </div>
            <span class="col-1 dots"> : </span>
            <div class="col-2">
              <h3 class="timer">02</h3>
              <p>Hours</p>
            </div>
            <span class="col-1 dots"> : </span>
            <div class="col-2">
              <h3 class="timer">45</h3>
              <p>Miuntes</p>
            </div>
            <span class="col-1 dots"> : </span>
            <div class="col-2">
              <h3 class="timer">21</h3>
              <p>Seconds</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END ANNOUNCEMENT -->
